:root{
    --font: "OTWelcomeRA";
}

.swal2-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    font-family: var(--font);
}

.swal2-popup {
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    z-index: 3;
}

.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel{
    font-family: var(--font);
}
