.apply_field_name {
    margin-right: 3%;
    color: rgba(0,0,0,0.5);
}

.apply_field_value {
    text-align: start;
}

.apply_field_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
}


.apply_recorder_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 25%;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    background-color: white;
    box-shadow: 3px 3px #dadada;
    border-radius: 15px;
    padding: 1%;
    text-align: center;
}

.apply_info_container {
    border: 2px solid white;
    background-color: white;
    box-shadow: 3px 3px #dadada;
    border-radius: 15px;
    padding: 3%;
}
